<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <script src="js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="css/settings.css">
</head>
<body>
    <div class="container">
        <h2>Enter a bug or sugestion</h2>
        <input type="text" id="">
        <button class="btn btn-success">Submit</button>
    </div>
</body>
</html>